POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=

# Foreign Data Wrapper (External Databases)
FDW_HOST=
FDW_PORT=
FDW_USER=
FDW_PASSWORD=

NODE_ENV=
JWT_SECRET=
FRONTEND_URL=

EPETTY_API_URL=
EPETTY_BASIC_AUTH=

GEMINI_API_KEY=

PRIVATE_KEY=
EPRISONS_TOKEN_URL=
EPRISONS_RELEASES_URL=

EPRISONS_USER_ID=
EPRISONS_PASSWORD=

REDIS_HOST=
REDIS_PORT=

MINIO_ENDPOINT=
MINIO_PORT=
MINIO_USE_SSL=
MINIO_ACCESS_KEY=
MINIO_SECRET_KEY=
MINIO_BUCKET=

# WhatsApp Cloud API Configuration
WHATSAPP_TOKEN=
PHONE_NUMBER_ID=
WABA_ID=
GRAPH_VERSION=

# Automatically sync Prisma schema to database on startup
AUTO_DB_PUSH=true

# EXTERNAL API TOGGLE
# If true, uses live API. If false, falls back to DB search.
EXTERNAL_API_CALL=true
